.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & .cube{
        width: 100px;
        height: 75px;
        transform-style: preserve-3d; /*spin 8s infinite linear;*/ /* movimiento, giro*/
        animation: spin 8s infinite linear;
        position: fixed; /**/
        bottom: 100px;
        right: 100px;
        z-index: 1;
        & div{
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0.8;
        }
        & .front{
            transform: translateZ(50px);
            background: linear-gradient(45deg, #ff0000, #bdd846);
        }
        & .back{
            transform: translateZ(-50px);
            background: linear-gradient(45deg, #0095ff, #46d8d1);
        }
        & .top{
            transform: rotateX(90deg) translateZ(50px);
            background: linear-gradient(45deg, #ff0000, #bdd846);
        }
        & .bottom{
            transform: rotateX(90deg) translateZ(-50px);
            background: linear-gradient(45deg, #0095ff, #bdd846);
        }
    }
    & .options{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        padding-left: 450px;
        & .cube-one{
            display: inline-block;
            margin: 80px;
            width: -40px;
            height: 60px;
            transform-style: preserve-3d;
            transform: rotateX(140deg) rotateY(140deg);
            position: fixed;
            bottom: 60px;
            top: 60px;
            & div{
                position: absolute;
                width: 60px;
                height: 60px;
                opacity: 0.8;
            }
            & .front-one{
                transform: translateZ(30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
                & .svg-icon{
                    width: auto;
                    height: 50px;
                    transform: rotateX(200deg) rotateY(200deg);
                }
            }
            & .back-one{
                transform: translateZ(-30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
            }
            & .top-one{
                transform: rotateX(90deg) translateZ(30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
            }
            & .bottom-one{
                transform: rotateX(90deg) translateZ(-30px);
                background: linear-gradient(45deg, #0095ff, #bdd846);
            }
            & .left-one{
                transform: rotateY(90deg) translateZ(30px);
                background: linear-gradient(45deg, #ffa600, #d87746);
            }
            & .right-one{
                transform: rotateY(90deg) translateZ(-30px);
                background: linear-gradient(45deg, #ffa600, #d87746);
            }
        }
        & .cube-two{
            display: inline-block;
            margin: 30px;
            width: 60px;
            height: 245px;
            transform-style: preserve-3d;
            transform: rotateX(140deg) rotateY(140deg);
            position: fixed;
            bottom: 60px;
            top: 60px;
            & div{
                position: absolute;
                width: 60px;
                height: 60px;
                opacity: 0.8;
            }
            & .front-two{
                transform: translateZ(30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
                & .svg-icon{
                    width: auto;
                    height: 50px;
                }
            }
            & .back-two{
                transform: translateZ(-30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
            }
            & .top-two{
                transform: rotateX(90deg) translateZ(30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
            }
            & .bottom-two{
                transform: rotateX(90deg) translateZ(-30px);
                background: linear-gradient(45deg, #0095ff, #bdd846);
            }
            & .left-two{
                transform: rotateY(90deg) translateZ(30px);
                background: linear-gradient(45deg, #ffa600, #d87746);
            }
            & .right-two{
                transform: rotateY(90deg) translateZ(-30px);
                background: linear-gradient(45deg, #ffa600, #d87746);
            }
        }
        & .cube-three{
            display: inline-block;
            margin: 30px;
            width: 60px;
            height: 359px;
            transform-style: preserve-3d;
            transform: rotateX(140deg) rotateY(140deg);
            position: fixed;
            bottom: 60px;
            top: 60px;
            & div{
                position: absolute;
                width: 60px;
                height: 60px;
                opacity: 0.8;
            }
            & .front-three{
                transform: translateZ(30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
                & .svg-icon{
                    width: auto;
                    height: 50px;
                    transform: rotateX(200deg) rotateY(200deg);
                }
            }
            & .back-three{
                transform: translateZ(-30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
            }
            & .top-three{
                transform: rotateX(90deg) translateZ(30px);
                background: linear-gradient(45deg, #ff0000, #bdd846);
            }
            & .bottom-three{
                transform: rotateX(90deg) translateZ(-30px);
                background: linear-gradient(45deg, #0095ff, #bdd846);
            }
            & .left-three{
                transform: rotateY(90deg) translateZ(30px);
                background: linear-gradient(45deg, #ffa600, #d87746);
            }
            & .right-three{
                transform: rotateY(90deg) translateZ(-30px);
                background: linear-gradient(45deg, #ffa600, #d87746);
            }
        }
    }
}


@keyframes spin{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}